.properties{
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
}

.property-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 8px;
}

.property-card{
  margin: 8px;
}