.sidebar{
  border-right: 5px solid black;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar-link{
  text-decoration: none;
  color: rgb(78, 5, 78);
  font-size: 17px;
  margin-top: 10px;
}